//Common styles

//Mobile Mixin
@mixin mobile {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }
  
  //Elements
  
  %common-body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
    }
    
    .list {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      &>a{
        display: flex;
      }
    }
  }