@import "./base.scss";
.hero {
  text-align: center;
  img {
    width: 300px;
    height: 300px;
    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      height: auto;
    }
  }
}
