.body{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}
.body .link {
    cursor:pointer;
}
.body .hero {
    text-align: center;
}
.body ul{
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 1024px) {
    .body{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }
}