@tailwind base;
@tailwind components;
@tailwind utilities;

/* common tailwind components */
@layer components {
  .content-body {
    @apply relative bg-gray-50 px-4 pb-20 sm:px-6 lg:px-8 lg:pb-28 pt-24;
  }
  .content-list {
    @apply mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3;
  }
}

/* Posts */
.post-body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  padding-top: 80px;
  padding-bottom: 80px;
}

.post-body pre {
  overflow: scroll;
  padding: 1rem;
}

.post-body a {
  text-decoration: underline;
}

.post-body img {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Post Detail Markup Conversion */
.blog-post h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog-post p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.blog-post ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.blog-post li {
  display: list-item;
}
.blog-post ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/* Mobile */

@media only screen and (max-width: 1024px) {
  .post-body {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .post-body img {
    width: 100%;
  }
}
