@import "./base.scss";

.row {
  transition: border 0.4s;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border: solid 1px #fff;
  flex-grow: 1;
  .image {
    height: 160px;
    width: 160px;
    min-width: 160px;
    margin: 15px;
    background-position: center;
    background-size: cover;
  }
  .content {
    flex-shrink: 2;
    h2 {
      margin-bottom: 4px;
    }
    sup {
      color: rgb(99, 99, 99);
    }
    p {
      margin-top: 5px;
    }
  }
  &:hover {
    border: solid 1px rgb(182, 182, 182);
  }
  @include mobile {
    padding: 0 5px;
    flex-direction: column;
    .image {
      height: 90px;
      width: 100%;
      margin: 25px 8px 0px 8px;
    }
    .content {
      width: 100%;
    }
  }
}
